<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Calendar - Version1</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/CSS/calendar.css"/>

		<script src="/libs/jquery/dist/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>

		{% block css %}
		{% endblock %}
		{% block header %}
			<section id="bande">
				<a href="/">
					<div class="titrePage">
						<h1>Calendar</h1>
					</div>
				</a>

				<div id="perso">
					{% if current %}
					<h3>Bonjour {{ current.name }} </h3>
				    {% endif %}
				</div>

				<div class="boutons">
					<!-- <a href="signin"><input type="button" name="signin" value="Sign In"/></a> -->
					{% if current %}
					 <a href="logout"><input type="button" name="logout" value="Log out"/></a>
					 {% else %}
					 <a href="signup"><input type="button" name="signup" value="Register"/></a>



				<!-- CODE MODAL TEST -->
					<!-- <div class="container"> -->
					  <!-- Trigger the modal with a button -->
					  <button type="button" data-toggle="modal" data-target="#signin">Log in</button>
					  <!--<button type="button" data-toggle="modal" data-target="#signup">Sign up</button> -->

					  <!-- Modal SIGN UP (inscription) -->
					  <!--<div class="modal fade" id="signup" role="dialog">
					    <div class="modal-dialog">


					      <div class="modal-content">
					        <div class="modal-header">


					          <button type="button" class="close" data-dismiss="modal">&times;</button>


					          <h4 class="modal-title">Welcome back !</h4>
					        </div>


					        <div class="modal-body">

					        	<form method="post">
							      	Login :
							  		<input type="text" name="login" placeholder="login" required>
							  		</br>
							      	Password :
							  		<input type="password" name="password" placeholder="password" required>
							      	</br>
							      	Name (the one others will see) :
							      <input type="text" name="name" placeholder="name" required>
							      </br>
							  <input type="submit" value="Create your account !">
							</form>

					        </div>

					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					        </div>
					      </div>

					    </div>
					  </div>

					</div>
					-->

					<!-- Modal SIGN IN (connexion)  -->
					  <div class="modal fade" id="signin" role="dialog">
					    <div class="modal-dialog">

					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">

					          <!-- Fermer le modal -->
					          <button type="button" class="close" data-dismiss="modal">&times;</button>

					          <!-- Titre de la fenêtre -->
					          <h4 class="modal-title">Welcome back !</h4>
					        </div>

					        <!-- Le contenu *********************-->
					        <div class="modal-body">

					        	<form method="post">
							      	Login :
							  		<input type="text" name="login" placeholder="login" required>
							  		</br>
							      	Password :
							  		<input type="password" name="password" placeholder="password" required>
							      	</br>

							  <input type="submit" value="Sign in !">
							</form>

					        </div>
					        <!-- Fin du contenu ***************** -->

					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					        </div>
					      </div>

					    </div>
					  </div>

					</div>
					<!-- CODE MODAL TEST -->


					{% endif %}




			</section>
		{% endblock %}


			<!-- <nav id="leftMenu">
				<ul>
					{% block left %}
						<a href="/"><li>Mois</li></a>
						<a href="/"><li>Semaine</li></a>
						<li id="today">Jour</li>
					{% endblock %}
				</ul>
			</nav> -->

			<div class="erreur">
									{{message}}
				</div>

		{% block body %}

		{% endblock %}
	</body>

	{% block footer %}
	<footer id="footerPage">
		<p>Nathalie QUERE & Camille TROUVE</p>
	</footer>
	{% endblock %}
</html>
